:root {
  --blue: #063060;
  --grey: rgba(255, 255, 255, 0.3);
  --yellow: #ffca09;
  --white: #ffffff;
  --gradient-text: linear-gradient(45deg, #007cba, #218fa6, #9568c3, #4a54ad);
  --shadow: 0px 8px 9px -6px rgba(95, 115, 128, 0.44);
  --p-color: rgba(49, 59, 66, 0.95);
  --p-color-light: #5f7380;
  --t-color: #404040;
  --black: #000000;
  --border: 1px solid #ccc;
  --red: #ff0000;
  --disable: #ccc;
  --b-shadow: 0 2px 5px rgba(102, 102, 102, 0.3);
  --b2-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

:root html,
:root body,
:root ul,
:root ol {
  margin: 0;
  padding: 0;
}

.card-v2 {
  margin-bottom: 20px;
}
.card-v2 .card-v2-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.card-v2 .card-v2-wrapper .card-v2-inner {
  display: flex;
}
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content {
  display: flex;
}
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 {
  width: fit-content;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(102, 102, 102, 0.5);
  display: grid;
  grid-template-rows: 0.8fr auto;
  gap: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(102, 102, 102, 0.7);
}
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-image {
  width: 100%;
  height: 80px;
  overflow: hidden;
  position: relative; /* Ensure proper positioning */
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; /* Cover the entire parent */
  top: 0;
  left: 0;
}
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-info {
  max-width: 300px;
  margin: 20px;
}
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-info .card-v2-title {
  color: var(--blue);
  font-family: "Montserrat", "Inter", sans-serif;
  line-height: 2rem;
  margin: 0;
  font-size: 25px;
}
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-info .card-v2-description {
  color: var(--p-color-light);
  font-family: "Montserrat", "Inter", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--p-color);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin: 0;
  margin-top: 10px;
}
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-info .card-v2-industry,
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-info .card-v2-location {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--p-color-light);
  font-family: "Montserrat", "Inter", sans-serif;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 20px;
}
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-info .card-v2-industry .material-icons-outlined,
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-info .card-v2-location .material-icons-outlined {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-info .card-v2-industry .industry-item,
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-info .card-v2-industry .location-item,
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-info .card-v2-location .industry-item,
.card-v2 .card-v2-wrapper .card-v2-inner .card-v2-content .card-v2 .card-v2-info .card-v2-location .location-item {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.85rem;
  white-space: nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
