:root {
  --blue: #063060;
  --grey: rgba(255, 255, 255, 0.3);
  --yellow: #ffca09;
  --white: #ffffff;
  --gradient-text: linear-gradient(45deg, #007cba, #218fa6, #9568c3, #4a54ad);
  --shadow: 0px 8px 9px -6px rgba(95, 115, 128, 0.44);
  --p-color: rgba(49, 59, 66, 0.95);
  --p-color-light: #5f7380;
  --t-color: #404040;
  --black: #000000;
  --border: 1px solid #ccc;
  --red: #ff0000;
  --disable: #ccc;
  --b-shadow: 0 2px 5px rgba(102, 102, 102, 0.3);
  --b2-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

:root html,
:root body,
:root ul,
:root ol {
  margin: 0;
  padding: 0;
}

.team-info-cards-v2 {
  margin-top: 50px;
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 {
  max-width: 800px;
  margin: 0 auto;
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  place-items: center;
}
@media screen and (min-width: 712px) {
  .team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    place-items: unset;
  }
}
@media screen and (min-width: 1024px) {
  .team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    place-items: unset;
  }
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  max-width: 250px;
  position: relative; /* Added for positioning the line */
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(102, 102, 102, 0.7);
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 .team-info-cards-line-v2 {
  width: 11px;
  height: 100%;
  background: linear-gradient(190deg, #2eadff, #3d83ff, #2300c0);
  position: absolute;
  left: 0; /* Align the line to the left */
  top: 0;
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 h1.team-info-title-v2 {
  color: var(--blue);
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "Montserrat", "Inter", sans-serif;
  line-height: 1.85rem;
  margin: 0;
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 p.team-info-description-v2 {
  color: var(--p-color);
  font-size: 1rem;
  margin-bottom: 10px;
  font-family: "Montserrat", "Inter", sans-serif;
  line-height: 1.5rem;
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 .team-info-industry-v2,
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 .team-info-location-v2 {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 10px;
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 .team-info-industry-v2 i,
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 .team-info-location-v2 i {
  font-size: 1.4rem;
  margin-right: 5px;
  color: #014e89;
  vertical-align: middle;
  position: relative;
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 .team-info-industry-v2.team-info-location-v2 i,
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 .team-info-location-v2.team-info-location-v2 i {
  margin: 0 8px 0 3px;
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 .team-info-industry-v2 span,
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 .team-info-location-v2 span {
  font-size: 1rem;
  line-height: 1.5rem;
}
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 .team-info-industry-v2 span,
.team-info-cards-v2 .team-info-cards-wrapper-v2 .team-info-cards-inner-v2 .team-info-content-v2 .team-info-location-v2 span {
  font-size: 0.9rem;
  color: var(--p-color-light);
  font-family: "Montserrat", "Inter", sans-serif;
}
