@use "../template-structures/styles" as *; // ✅ Use namespace
@use "../template-structures/colors" as *;
@use "../template-structures/layout" as *;

.card-v3 {
  .card-v3-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .card-v3-inner {
      .card-v3-content {
        .card-v3-container {
          box-shadow: 0 2px 5px rgba(102, 102, 102, 0.5);
          display: inline-block; // Ensures the container wraps around its content
          position: relative;
          padding: 5px;
          .card-v3-image {
            width: 350px;
            height: 250px;
            position: relative;
            border-radius: 1rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .floating-card {
            position: absolute;
            background-color: white;
            box-shadow: 0 2px 5px rgba(102, 102, 102, 0.5);
            width: 320px;
            height: auto;
            bottom: -200px;
            left: 15px;
            .card-v3-info {
              margin: 15px;
              .card-v3-title {
                color: var(--blue);
                font-family: $font;
                line-height: 1.8rem;
                margin: 0;
                margin-top: 10px;
                font-size: 25px;
              }
              .card-v3-description {
                color: var(--p-color-light);
                font-family: $font;
                font-size: 0.95rem;
                font-weight: 400;
                line-height: 1.5rem;
                color: var(--p-color);
                margin-top: 5px;
                margin-bottom: 5px;
              }
              .card-v3-industry,
              .card-v3-location {
                display: flex;
                align-items: center;
                gap: 5px;
                color: var(--p-color-light);
                font-family: $font;
                font-size: 0.9rem;
                margin: 0;
                margin-top: 10px;

                .material-icons-outlined {
                  font-size: 25px;
                  vertical-align: middle;
                  margin-right: 5px;
                }

                .industry-item,
                .location-item {
                  background-color: var(--light-gray);
                  color: var(--dark-gray);
                  padding: 5px 10px;
                  border-radius: 20px;
                  font-size: 0.85rem;
                  white-space: nowrap;
                  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                }
              }
            }
          }
        }
      }
    }
  }
}
